@import url('https://fonts.googleapis.com/css2?family=Langar&family=Supermercado+One&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Supermercado", sans-serif;
}

.welcome-page{
   
    height: 100vh;

    background: url('../images/welcm.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* .opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
} */




.navbar-dark {
    padding: 0px;
    border: 0;
    background-color:rgba(90, 150, 210, 0.95)!important;
}




.navbar-dark .navbar-brand  {                                    
        float:left;
        font-family: "Supermercado", sans-serif;
        font-size: 200%;
        margin-left: 0px;
        margin-bottom: 0;
        padding-bottom: 2px;
        padding-left: 50px;
        border-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: white;
        text-decoration: none;
        line-height: 75px;
        height: 75px;

}



.collapse .naveLinks {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.nav-item {

    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0px;
    text-transform: normal;
}

.nav-item a {
    width: 100%;
    text-decoration: none;
    margin: 0 10px;
    color: #ffffff;
}

.nav-item a i {
    padding-top: 5px;
    display: inline;
    color:#ffffff;
    font-size: 30px;
}

.nav-item a span {
    width: 100%;                               
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 15px;
  
}

.navbar-toggler-icon{
    border: 0;
}

.btn--red {
    width: 150px;
    margin: 5px 10px;
    padding: 2px;
    background-color: red;
    color: white;
    text-transform: uppercase;
}
 

.jumbotron h1 {
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Langar", sans-serif;


}


.jumbotron {
    background-color: rgb(26, 24, 21);
    max-width: 75%;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50px 50px 30px 30px;
    margin-bottom: 50px;
}


.jumbotron .lead {
    color: whitesmoke;
    line-height: 30px;
    margin: 20px 0;
    padding: 0 30px 30px;
    transition: height 0.5s ease-in-out;
}

.insideReadMore {

    color: whitesmoke;
    line-height: 30px;
    margin: 20px 0;
    padding: 0 30px 30px;
    transition: height 0.5s ease-in-out;
    
}


.jumbotron .sub-lead{

    text-align: center;
    font-size: 1.1em;
    margin-bottom: 0;
    padding: 0 30px 30px;
    line-height: 1.88em;
    font-weight: 400;
    
    color: white;
    font-style: normal;
    
}




 /* READ MORE MAINPAGE */

.expandMoreContent{
    height: 100px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    position: relative;
}


.expandMoreContent.expand-active{
    height: auto;
    transition: height 0.5s ease-in-out;


}



/* .btn-expand-more{
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: red;
    font-size: 30px;
} */



/* #you {
    display:flex;
}

.navbar-dark .navbar-text i{
    color: black;
    display: inline;
    margin-right: 50px;;
} */




 /* Block dividers */

.block-divider {
    width: 75px;
    height: 15px;
    border: 0;
   
}

 .block-divider--orange {
    background-color: red;
  margin: 0 auto;
   height: 25px;
}


/*
.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
} */


.ccTerms {
    height: 300px;
    width: 600px;
    background-color: goldenrod;
    font: white;
    overflow: hidden;
    overflow-y: scroll;
    padding: 10px;
    transform: height 0.5s ease-in-out;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    margin-left: 50px;


}
.ccTerms-Links{
     list-style-type: none;
} 

ul.ccTerms-typo{
    font: white;
    padding: 5px;
}


.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color:#5a172a; 
    border-color:#5a172a;
}


 .btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
} 

.expandToggle{
    margin-bottom: 30px;
}



.btn--red.climateButton{
    width: 350px;
    height: 50px;
    padding: 10px;
    align-content: center;
    border-radius: 15%;
    margin-left: 170px;
    text-transform: capitalize;
    font: white;
    
}


.page-headers{
    margin: 75px auto;

}



.fake-button {
    text-align: center;
    background-color: orange;

}

.fakeButton{
    padding: 10px;
    font-weight: bold;
    background-color: aliceblue;
}
 

.more {
    display: none;
}



#showMoreContent1{
    display: none;
}








 .quoteSection {
     margin-top: 75px;
    background: url('../images/welcm2.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
 }

 /*--------------------------------------------------footer-section---*/

footer {
    background-color:#5a172a;
    color: #777777;
    min-height: 120px;
    margin-top: 30px;
}
footer .our-strenght {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
}

/*--------------------footer-socialMedia---*/

.social-media {
    padding-bottom: 15px;
    text-align:center;
}

div ul.social-media li a {
    text-align: center;
}
                                
div ul.social-media li a i {
    width: 2.0em;
    height: 2.0em;
    margin: 3%;
    padding: 5%;
    border-radius: 25%;
    font-size: 2.0em;
    line-height: 2.0em;
    text-align: center;
    color: #fafafa;
    background: rgba(0,73,83,0.9);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-media li a i:hover {
    background: rgba(255,36,0, 0.8);
}


#footer-contents {
    padding: 20px;
}


      /*--------------------footer-contacts---*/

footer .contacts {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
}

.footer-header {
    color: #ffffff;
    text-align: center;
    
}
 